@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

.box {
    --mask:
        radial-gradient(26.88px at 50% calc(100% - 37.6px), #000 99%, #0000 101%) calc(50% - 32px) 0/64px 100%,
        radial-gradient(26.88px at 50% calc(100% + 21.6px), #0000 99%, #000 101%) 50% calc(100% - 16px)/64px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}